#test{
    border:2px;
    box-shadow: 2px 2px 0 0;
    text-align:justify ;
    padding:10px;
    margin-left:20px;
    margin-right: auto;
    display: block;
}
h1 h2{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}
form{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}
#result{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(163, 71, 163);
}